fastapi
uvicorn
pydantic>=2.0
langchain
langgraph
langchain_groq
langchain_google_genai
langchain_community
pypdf
python-docx
edge-tts
gtts
ddgs
python-multipart
langgraph-checkpoint
asyncpg
sqlalchemy
langfuse
websockets
dashscope
langchain-openai
celery
redis
pytest
pytest-asyncio
aiosqlite
httpx
