fastapi
uvicorn
pydantic
langchain
langgraph
langchain_groq
langchain_google_genai
langchain_community
PyPDF2
python-docx
edge-tts
ddgs
python-multipart
langgraph-checkpoint
asyncpg
sqlalchemy
langfuse
websockets
dashscope
langchain-openai
